#header {
	position: absolute;
	top: 0;
}

#body {
	position: absolute;
	top: 50%;
	left: 50%;
}

#footer {
	position: absolute;
	bottom: 0;
}

#r_head {
	position: relative;
	text-align: right;
}

#l_foot {
	position: relative;
	text-align: left;
}

#r_foot {
	position: relative;
	text-align: right;
}

#r_head_img a {
	height: 30px;
	width: 30px;
	display: inline-block;
	background-image: url("imgs/small-image-array.png");
	background-size: 356px 144px;
}

#r_head_img a:nth-child(1) {
	background-position: -326px -52px;
}

#r_head_img a:nth-child(3) {
	background-position: -326px -17px;
}