#header {
	padding: inherit;
	position: absolute;
	top: 0;
}

#body {
	position: absolute;
	height: 190px;
	width: 538px;
	top: 50%;
	left: 50%;
	margin: -95px -269px;
}

#body img {
	height: 95px;
	width: 269px;
	margin: 10px 135px;
}

#search_box {
	width: 538px;
	margin: 10px;
}

#body ul {
	margin-top: 10px;
	margin-right: 150px;
	margin-bottom: 10px;
	margin-left: 170px;
}

#body li {
	display: inline;
	text-align: center;
}

#footer {
	position: absolute;
	bottom: 0;
}

#r_head {
	position: relative;
	text-align: right;
}

#l_foot li {
	float: left;
}

#r_foot li {
	float: right;
}

#footer a {
	display: block;
	width: 120px;
}

#r_head_txt li {
	display: inline;
}

#r_head_img a {
	height: 30px;
	width: 30px;
	display: inline-block;
	background-image: url("imgs/small-image-array.png");
	background-size: 356px 144px;
}

#r_head_img a:nth-child(1) {
	background-position: -326px -52px;
}

#r_head_img a:nth-child(3) {
	background-position: -326px -17px;
}